@font-face {
  font-family: MarckScript;
  src: url(assets/fonts/MarckScript-Regular.ttf);
}

@font-face {
  font-family: UbuntuMono;
  font-weight: normal;
  src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

@font-face {
  font-family: UbuntuMono;
  font-weight: bold;
  src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf);
}

@font-face {
  font-family: UbuntuMono;
  font-style: italic;
  src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf);
}

@font-face {
  font-family: UbuntuMono;
  font-weight: bold;
  font-style: italic;
  src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf);
}


.light-mode {
  --background-color: #FFFFFF;
  --nav-background-color: #D9D9D9;
  --nav-foreground: #60584C;
  --text-color: #000000;
  --menu-foreground: #A4633E;
  --menu-background: #FFE8CE;
  --stroke-color: unset;

  transition: stroke 350ms ease-in-out;

}

.dark-mode {
  --background-color: #000;
  --nav-background-color: #60584C;
  --nav-foreground: #FFD057;
  --text-color: #fff;
  --menu-foreground: #FFE8CE;
  --menu-background: #A4633E;
  --stroke-color: var(--text-color);

  transition: stroke 350ms ease-in-out;
}

* {
  transition: color 350ms ease-in-out, background-color 350ms ease-in-out;

}

.real-mode,
.real-mode button {
  font-family: MarckScript;
}

.accessible-mode, 
.accessible-mode button {
  font-family: UbuntuMono;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

.page {
  max-width: 1782px;  
  padding: 3rem 1rem;
  margin: 0 auto;
  background-color: var(--background-color);
  min-height: calc(100svh - 7rem)
}

h1, h2, p, span, button {
  color: var(--text-color);
}

.menu-icon {
  fill: var(--menu-foreground);
  transition: fill 350ms ease-in-out;
}

.menu-icon-stroke {
  stroke: var(--menu-foreground);
  transition: stroke 350ms ease-in-out;
}

.icon-stroke {
  stroke: var(--stroke-color);
  transition: stroke 350ms ease-in-out;
}

/* Styling for js generated span letters */
.letter {
  transition: opacity 500ms ease-in-out;    
  transition-delay: calc(var(--letter-delay) * 50ms);
  opacity: 0;
}

.container.open .content nav button > span.letter {
    opacity: 1;
    transition-delay: calc(var(--letter-delay) * 50ms + 1500ms);
}

/* Medium sized screens and bigger */
@media screen and (min-width: 481px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
    margin: 1rem 0;
  
  }

  .page {
    padding: 3rem 2rem;
  }
}

/* Desktop sized screens */
@media screen and (min-width: 1025px) {
  .page {
    padding: 3rem 4rem;
  }
}
