@font-face {
  font-family: MarckScript;
  src: url(assets/fonts/MarckScript-Regular.ttf);
}

.light-version {
  --background-color: #FFFFFF;
  --nav-background-color: #D9D9D9;
  --text-color: #000000;
  --color-1: #60584C:
}

.dark-version {

}

.real-experience {
  font-family: MarckScript;
}

.real-experience button {
  font-family: MarckScript;

}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

.page {
  max-width: 1782px;  
  padding: 3rem 1rem;
  margin: 0 auto;
}

h1, h2, p, span, button {
  color: --text-color;
}

/* Medium sized screens and bigger */
@media screen and (min-width: 481px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
    margin: 1rem 0;
  
  }

  .page {
    padding: 3rem 2rem;
  }
}

/* Desktop sized screens */
@media screen and (min-width: 1025px) {
  .page {
    padding: 3rem 4rem;
  }
}
